
#category-header{
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	margin:0 auto 10px auto;
	text-align: center;
	padding: 30px 0px 30px 0px;
	color: white;
	h1{
		text-align: center;
		line-height: 0px;
	}
	button{
		margin-top: 10px;
		width:100px;
		background: darkgrey;
		border-radius: 4px;
		border: solid darkgrey;
		height:30px;
		color: white;
		/*margin: 10px;*/
		&:hover{
			background:lightgrey;
			border-color:lightgrey; 
			color:black;
		}
	}
}
#category-stacks{
	// display: none;
	/*display:inline-block;
	width: 100%; 
	background: blue;*/
}
#category-chronicles{
	display: none;
}